# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

Hopefully the attachment works.  I did not get my dataset from a website.

My dataset:  [text](combined_mlb_data.csv)

Import the necessary libraries and create your dataframe(s).

In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\bccut\OneDrive\Desktop\LaunchCode\Cleaning Data Checkpoint\cleaning-data-checkpoint\combined_mlb_data.csv')

df.head(5)

,team name,team payroll,Wins,Losses,wpct,mlb rk,year,Payroll Rank,Payroll Efficiency,Wins above league average,Payroll above league average
0,Baltimore Orioles,70408134,79,83,0.488,16,1998,1,-15,-2.0,30057056.23
1,New York Yankees,63159898,114,48,0.704,1,1998,2,1,33.0,22808820.23
2,Atlanta Braves,59536000,106,56,0.654,2,1998,3,1,25.0,19184922.23
3,Cleveland Guardians,59033499,89,73,0.549,7,1998,4,-3,8.0,18682421.23
4,Texas Rangers,54704595,88,74,0.543,9,1998,5,-4,7.0,14353517.23

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [5]:
df.isna()

,team name,team payroll,Wins,Losses,wpct,mlb rk,year,Payroll Rank,Payroll Efficiency,Wins above league average,Payroll above league average
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
775,False,False,False,False,False,False,False,False,False,False,False
776,False,False,False,False,False,False,False,False,False,False,False
777,False,False,False,False,False,False,False,False,False,False,False
778,False,False,False,False,False,False,False,False,False,False,False
779,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
This determines if there is any null values in the data set

In [6]:
df.isnull().sum()

team name                       0
team payroll                    0
Wins                            0
Losses                          0
wpct                            0
mlb rk                          0
year                            0
Payroll Rank                    0
Payroll Efficiency              0
Wins above league average       0
Payroll above league average    0
dtype: int64

In [ ]:
This is to sum any null values this is easy to double check to make sure there is no null values in a column in a large dataset that could easily be missed above.

In [ ]:
Prior to the final data set, when combining each individual year I added a year column by:
read_file['year'] = input('year. year should equal the year in upload file:')  #add year column row with input

Also, added three columns to the final data set to included a column for Payroll Efficiency, Wins above league average, and Payroll Rank
read_file['Payroll Efficiency'] = read_file['Payroll Rank'] - read_file['mlb rk']
read_file['Wins above league average'] = read_file['Wins'] - read_file['Wins'].mean()
read_file['Payroll Rank'] = range(1, 1+len(read_file))

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [7]:
df.describe()

,team payroll,Wins,Losses,wpct,mlb rk,year,Payroll Rank,Payroll Efficiency,Wins above league average,Payroll above league average
count,7.800000e+02,780.000000,780.000000,780.000000,780.000000,780.000000,780.000000,780.00000,7.800000e+02,7.800000e+02
mean,9.659526e+07,79.006410,79.006410,0.499990,15.500000,2010.500000,15.500000,0.00000,1.102566e-10,-1.727400e-04
std,4.986357e+07,15.434859,15.409555,0.075281,8.660995,7.504812,8.660995,9.67853,1.190725e+01,3.936325e+07
min,9.202000e+06,19.000000,17.000000,0.265000,1.000000,1998.000000,1.000000,-27.00000,-3.796667e+01,-1.074846e+08
25%,6.043591e+07,71.000000,71.000000,0.444000,8.000000,2004.000000,8.000000,-6.00000,-8.933333e+00,-2.606833e+07
50%,8.698093e+07,80.000000,80.000000,0.500000,15.500000,2010.500000,15.500000,0.00000,3.333333e-02,-3.933160e+06
75%,1.235227e+08,90.000000,89.000000,0.556000,23.000000,2017.000000,23.000000,6.00000,9.000000e+00,2.282513e+07
max,3.342333e+08,116.000000,119.000000,0.717000,30.000000,2023.000000,30.000000,27.00000,3.506667e+01,1.858529e+08

In [ ]:
There are no outliers.  2020 was a shortened season due to the Covid 19 pandemic, thats why the total games is much less than other seasons.  Since all teams played less games it should still help in the final data set.
Also, we want to see if a team has a much larger payroll if they win more or if a team has a smaller payroll that they win less.else


When combining the indivdual years of data to the final data set I renamed some columns to make them easier to understand.  
read_file = read_file.rename(columns = {'  w': 'Wins', '  l': 'Losses'}, inplace=False) #rename

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [ ]:
Having cleaned each individual year before loading it into the fianl combined file with every year, the final data set contains no unnecessary data.
However some code I used to delete unnecessary data is as follows:

Drop unwanted columns:
read_file = read_file.drop(labels=['Unnamed: 0', 'roster', 'league', 'division', 'rank', 'lgrk', 'last yr payroll', 'top salary'], axis=1, inplace=False)

#Convert Team Payroll to Integer to find payroll above league average
read_file['team payroll'] = read_file['team payroll'].replace('"','')
read_file['team payroll'] = read_file['team payroll'].str.replace(',','').astype(int)
read_file['Payroll above league average'] = read_file['team payroll'] - read_file['team payroll'].mean()

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [ ]:
In the final data set there is no inconsistent data.  This was taken care of while creating the final data set.

In [ ]:
Prior to the final data set some cleaning was done to standardize team names, as some teams have changed names between 1998-2023.  The following code is
an example of replacing one team name with the most current usage of the team name.
#Team Name Changes
read_file = read_file.replace(["Florida Marlins"], "Miami Marlins")
read_file = read_file.replace(["Anaheim Angels", "Los Angeles Angels of Anaheim"], "Los Angeles Angels")
read_file = read_file.replace(["Cleveland Indians"], "Cleveland Guardians")
read_file = read_file.replace(["Tampa Bay Devil Rays"], "Tampa Bay Rays")
read_file = read_file.replace(["Montreal Expos"], "Washington Nationals")

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
Yes, I fould all four types of dirty data while creating my final dataset.  While no data was missing from any file, I did want to add a year column to know which year the data was from, so I added one.  I also added a few other columns for information I would want to use later.  The only irregular data I found was that the columns for wins and losses where labeled as "w" and "l", so I renamed these to make it easier to understand what they were showing.  As far as unnecessary data I dropped a few columns that I did not want.  For inconsistent data there were a few team names that have been changed, so to make the data reflect more accurately I changed any team names I found not to be the same to their most current name.

2. Did the process of cleaning your data give you new insights into your dataset?
Yes, cleaning my data gave me some insights into my dataset.  It showed me the importance of ensuring clean data and the need to make sure the data is clean before you start to derieve insights from it.

3. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
I think it will be insightful to start making visualizations to see the data come to life.